$theme-hover-shade-amount:          15% !default;
$theme-hover-tint-amount:           15% !default;
$theme-active-shade-amount:         25% !default;
$theme-active-tint-amount:          25% !default;
$theme-subtle-tint-amount:          80% !default;
$theme-subtle-hover-tint-amount:    65% !default;
$theme-subtle-active-tint-amount:   60% !default;
$theme-emphasis-shade-amount:       40% !default;
$theme-emphasis-hover-shade-amount: 55% !default;
$theme-border-subtle-tint-amount:   60% !default;

$theme-dark-tint-amount:                35% !default;
$theme-dark-hover-shade-amount:         20% !default;
$theme-dark-hover-tint-amount:          20% !default;
$theme-dark-active-shade-amount:        30% !default;
$theme-dark-active-tint-amount:         30% !default;
$theme-dark-subtle-shade-amount:        60% !default;
$theme-dark-subtle-hover-shade-amount:  55% !default;
$theme-dark-subtle-active-shade-amount: 40% !default;
$theme-dark-emphasis-tint-amount:       55% !default;
$theme-dark-emphasis-hover-tint-amount: 50% !default;
$theme-dark-border-subtle-shade-amount: 40% !default;
