.input-group {
  &.input-group:is(:has(.floating-label)) {
    align-items: flex-start;
  }
}

.input-group {
  > .floating-label {
    // https://github.com/twbs/bootstrap/blob/v5.0.0-beta3/scss/forms/_input-group.scss#L15
    flex: 1;

    // Fix focus
    //
    // Copy-pasted and adapted from https://github.com/twbs/bootstrap/blob/v5.0.0-beta3/scss/forms/_input-group.scss#L12-L24
    > .form-control,
    > .form-select {
      position: relative;
    }

    ///

    &:not(:first-child) {
      > .form-control,
      > .form-select {
        // https://github.com/twbs/bootstrap/blob/v5.0.0-beta3/scss/forms/_input-group.scss#L119
        @include border-start-radius(0);

        ~ label::before {
          @include border-start-radius(0);
        }
      }
    }

    &:not(:last-child) {
      > .form-control,
      > .form-select {
        // https://github.com/twbs/bootstrap/blob/v5.0.0-beta3/scss/forms/_input-group.scss#L101
        @include border-end-radius(0);

        ~ label::after {
          @include border-end-radius(0);
        }
      }
    }
  }
}
