$form-field-color:                      var(--#{$prefix}emphasis-color) !default;
$form-field-bg:                         var(--#{$prefix}surface-bg) !default;
$form-field-hover-bg:                   var(--#{$prefix}surface-bg-hover) !default;
$form-field-border-width:               var(--#{$prefix}border-width) !default;
$form-field-border-color:               var(--#{$prefix}body-color) !default;
$form-field-active-border-color:        var(--#{$prefix}primary-hover) !default;
$form-field-border-radius:              var(--#{$prefix}border-radius) !default;
