$offcanvas-width: 320px;
$body-transition-push: left .3s ease-out;
$offcanvas-transition: transform .3s ease-out;

@mixin offcanvas-styling($direction) {
  left: if($direction == 'end', -$offcanvas-width, $offcanvas-width);
  transition: $body-transition-push;
  transition-property: right;
  padding-right: 0 !important;

  .offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
    &.offcanvas-#{$direction} {
      transition: $offcanvas-transition;
      width: $offcanvas-width;
    }
  }
}

body.offcanvas-push-start,
body.offcanvas-pushing-start {
  @include offcanvas-styling('start');
}

body.offcanvas-push-end,
body.offcanvas-pushing-end {
  @include offcanvas-styling('end');
}

body.offcanvas-push-start,
body.offcanvas-push-end {
  position: relative;
  overflow: hidden;
}


//$offcanvas-width: 320px;
//$offcanvas-transition: transform .3s ease-in-out;
//
//@mixin offcanvas-styling($direction) {
//  right: if($direction == 'start', auto, $offcanvas-width);
//  left: if($direction == 'end', auto, $offcanvas-width);
//  padding-right: if($direction == 'end', 0, 0) !important;
//  transition: if($direction == 'end', left, right) 0.3s ease-in-out;
//
//  .offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
//    &.offcanvas-#{$direction} {
//      transition: $offcanvas-transition;
//      width: $offcanvas-width;
//    }
//  }
//}
//
//body.offcanvas-push-start,
//body.offcanvas-pushing-start {
//  @include offcanvas-styling('start');
//}
//
//body.offcanvas-push-end,
//body.offcanvas-pushing-end {
//  @include offcanvas-styling('end');
//}
//
//body.offcanvas-push-start,
//body.offcanvas-push-end {
//  position: relative;
//  overflow: hidden;
//}

//body.offcanvas-pushing-start,
//body.offcanvas-pushing-end {
//  transition: all .2s ease-in-out;
//}

//margin-left: -$offcanvas-width;
//transition: left 0.3s ease-in-out;
//transform: translateX(-$offcanvas-width);
//transition: transform 0.3s ease-in-out;
//left: $offcanvas-width;
//transition: left 0.3s ease-in-out;
//transform: translateX(100%);
//transition: transform 0.3s ease-in-out; /* Add transition here */

//body.offcanvas-pushing-end,
//body.offcanvas-pushing-start {
//  transition: none; /* Add this line to remove transition when closing */
//}

//$offcanvas-width: 320px;
//
//body.offcanvas-push-end,
//body.offcanvas-pushing-end {
//  padding-right: 0 !important;
//  transition: transform 0.3s ease-in-out;
//  transform: translateX(-$offcanvas-width);
//
//  .offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
//    &.offcanvas-end {
//      transform: translateX(100%);
//      transition: transform 0.3s ease-in-out;
//      width: $offcanvas-width;
//    }
//  }
//}
//body.offcanvas-push-start,
//body.offcanvas-pushing-start {
//  transition: transform 0.3s ease-in-out;
//  transform: translateX($offcanvas-width);
//
//  .offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
//    &.offcanvas-start {
//      transform: translateX(-100%);
//      transition: transform 0.3s ease-in-out;
//      width: $offcanvas-width;
//
//    }
//  }
//}


////.offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
////  transition: transform 0.3s ease;
////  transform: translateX(100%);
////}
//body.offcanvas-content-start,
//body.offcanvas-content-end {
//  position: relative;
//  padding-right: 0 !important;
//  overflow: hidden;
//  transition: transform .3s ease-out;
//
//  [data-bs-ride="start"],
//  [data-bs-ride="end"] {
//    &.offcanvas-start,
//    &.offcanvas-end {
//      width: $offcanvas-width;
//      transform: translateX(0);
//    }
//  }
//}
//
////body.offcanvas-content-starting,
////body.offcanvas-content-ending {
////  transition: transform .3s ease-out;
////}
//
//body.offcanvas-content-start,
//body.offcanvas-content-starting {
//  transform: translateX($offcanvas-width);
//  [data-bs-ride="start"] {
//    &.offcanvas-start {
//      transform: translateX(-100%);
//    }
//  }
//}
//
//body.offcanvas-content-end,
//body.offcanvas-content-ending {
//  transform: translateX(-$offcanvas-width);
//  [data-bs-ride="end"] {
//    &.offcanvas-end {
//      transform: translateX(100%);
//    }
//  }
//}
//margin-right: $offcanvas-width;
//left: auto !important;
//transition: margin-right 0.3s ease;
//right: $offcanvas-width;

//left: $offcanvas-width;
//transition: width 0.3s ease;

//$offcanvas-width: 320px;
//
//.offcanvas.show {
//    &.offcanvas-start,
//    &.offcanvas-end {
//      width: $offcanvas-width;
//      transform: translateX(0);
//  }
//}
//
//.offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
//  transition: transform 0.3s ease;
//  transform: translateX(100%);
//}
//
//body.offcanvas-content-start {
//  right: -$offcanvas-width;
//  transition: width 0.3s ease;
//}
//
//body.offcanvas-content-end {
//  padding-right: 0 !important;
//  right: $offcanvas-width;
//  transition: width 0.3s ease;
//}
//body.offcanvas-content-start,
//body.offcanvas-content-end {
//  overflow: hidden;
//  position: fixed;
//
//  [data-bs-ride="start"],
//  [data-bs-ride="end"] {
//    &.offcanvas-start,
//    &.offcanvas-end {
//      width: $offcanvas-width;
//    }
//  }
//}

//width: $offcanvas-width;
//calc(100% - $offcanvas-width);
//transition: width 0.3s ease;
//body.offcanvas-content-start,
//body.offcanvas-content-end {
//  position: relative;
//  overflow: hidden;
//
//  [data-bs-ride="start"],
//  [data-bs-ride="end"] {
//    &.offcanvas-start,
//    &.offcanvas-end {
//      width: $offcanvas-width;

//      &.show {
//        > .offcanvas-body {
//          > .navbar-nav {
//            > .nav-item > .nav-link {
//              &.dropdown-toggle {
//                display: flex;
//                justify-content: space-between;
//                align-items: center;
//
//                &::after {
//                  transform: rotate(135deg);
//                  transition: transform .35s ease;
//                  transform-origin: 0.25em 50%;
//                }
//
//                &.show {
//                  &::after {
//                    transform: rotate(45deg);
//                  }
//                }
//              }
//            }
//          }
//        }
//      }
//    }
//  }
//}
//
//body.offcanvas-content-start {
//  left: $offcanvas-width;
//  transition: left .3s ease-out;
//  right: auto;
//  padding-right: 0 !important;
//
//  [data-bs-ride="start"] {
//    &.offcanvas-start {
//      transition: width .3s ease-out;
//    }
//  }
//
//}
//
//body.offcanvas-content-end {
//  right: $offcanvas-width;
//  left: auto;
//  padding-right: 0 !important;
//}

//$offcanvas-width: 320px;
//
//.offcanvas-content-start {
//  position: relative;
//  overflow: hidden;
//  left: $offcanvas-width;
//  right: auto;
//  padding-right: 0 !important;
//
//  [data-bs-ride="start"] {
//    &.offcanvas-start {
//      @include transition(var(--#{$prefix}offcanvas-transition));
//      width: $offcanvas-width;
//
//      &.show {
//
//        > .offcanvas-body {
//          > .navbar-nav {
//            > .nav-item > .nav-link {
//              &.dropdown-toggle {
//                display: flex;
//                justify-content: space-between;
//                align-items: center;
//
//                &::after {
//                  transform: rotate(135deg);
//                  transition: transform .35s ease;
//                  transform-origin: 0.25em 50%;
//                }
//
//                &.show {
//                  &::after {
//                    transform: rotate(45deg);
//                  }
//                }
//              }
//            }
//          }
//        }
//      }
//    }
//  }
//}
//
//.offcanvas-content-end {
//  position: relative;
//  overflow: hidden;
//  right: $offcanvas-width;
//  left: auto;
//  padding-right: 0 !important;
//
//  [data-bs-ride="end"] {
//    &.offcanvas-end {
//      @include transition(var(--#{$prefix}offcanvas-transition));
//      transition-duration: 0.3s;
//      transition-property: transform, width, padding, margin;
//      transition-timing-function: linear;
//      width: $offcanvas-width;
//
//      &.show {
//
//        > .offcanvas-body {
//          > .navbar-nav {
//            > .nav-item > .nav-link {
//              &.dropdown-toggle {
//                display: flex;
//                justify-content: space-between;
//                align-items: center;
//
//                &::after {
//                  transform: rotate(135deg);
//                  transition: transform .35s ease;
//                  transform-origin: 0.25em 50%;
//                }
//
//                &.show {
//                  &::after {
//                    transform: rotate(45deg);
//                  }
//                }
//              }
//            }
//          }
//        }
//      }
//    }
//  }
//}
//
////.offcanvas-content-start {
////  position: relative;
////  overflow: hidden;
////  left: $offcanvas-horizontal-width;
////  right: auto;
////
////  [data-bs-ride="start"] {
////    &.offcanvas-start {
////      transition: right .3s ease-out;
////    }
////  }
////}
////
////.offcanvas-content-end {
////  position: relative;
////  overflow: hidden;
////  left: -$offcanvas-horizontal-width;
////
////  [data-bs-ride="end"] {
////    &.offcanvas-end {
////      transition-property: right;
////      transition: left .3s ease-out;
////    }
////  }
////}
////
//////> div,
//////> header,
//////> main,
//////> footer {
//////  position: relative;
//////  overflow: hidden;
//////  left: $offcanvas-horizontal-width;
//////  right: auto;
//////  transition: right .3s ease-out;
//////}
////
//////> div,
//////> header,
//////> main,
//////> footer {
//////  position: relative;
//////  overflow: hidden;
//////  left: -$offcanvas-horizontal-width;
//////  transition: left .3s ease-out;
//////}
////
//////.offcanvas-content-start {
//////  position: relative;
//////  overflow: hidden;
//////  left: $offcanvas-horizontal-width;
//////  right: auto;
//////
//////  [data-bs-ride="start"] {
//////    &.offcanvas-start {
//////      //@include transition(var(--#{$prefix}offcanvas-transition));
//////    }
//////  }
//////}
//////
//////.offcanvas-content-end {
//////  > div,
//////  > header,
//////  > main,
//////  > footer {
//////
//////    position: relative;
//////    overflow: hidden;
//////    right: $offcanvas-horizontal-width;
//////    left: auto;
//////    @include transition(var(--#{$prefix}offcanvas-transition));
//////
//////    [data-bs-ride="end"] {
//////      &.offcanvas-end {
//////
//////        //transition-duration: 195ms;
//////        //transition-property: right;
//////        //transition-timing-function: cubic-bezier(.4,0,.6,1);
//////        //@include transition(var(--#{$prefix}offcanvas-transition));
//////      }
//////    }
//////  }
//////}
////
//////.offcanvas {
//////  --#{$prefix}main-horizontal-width: 320px;
//////
//////  .offcanvas-content-start {
//////    position: relative;
//////    overflow: hidden;
//////    left: var(--#{$prefix}main-horizontal-width);
//////    right: auto;
//////    padding-right: 0 !important;
//////
//////    [data-bs-ride="start"] {
//////      &.offcanvas-start {
//////        @include transition(var(--#{$prefix}offcanvas-transition));
//////        width: var(--#{$prefix}main-horizontal-width);
//////
//////        &.show {
//////          > .offcanvas-body {
//////            > .navbar-nav {
//////              > .nav-item > .nav-link {
//////                display: flex;
//////                justify-content: space-between;
//////                align-items: center;
//////
//////
//////                &.dropdown-toggle {
//////                  &::after {
//////                    transform: rotate(135deg);
//////                    transition: transform .35s ease;
//////                    transform-origin: 0.25em 50%;
//////                  }
//////
//////                  &.show {
//////                    &::after {
//////                      transform: rotate(45deg);
//////                    }
//////                  }
//////                }
//////              }
//////            }
//////          }
//////        }
//////      }
//////    }
//////  }
//////
//////  .offcanvas-content-end {
//////    position: relative;
//////    overflow: hidden;
//////    right: var(--#{$prefix}main-horizontal-width);
//////    left: auto;
//////    padding-right: 0 !important;
//////
//////    [data-bs-ride="end"] {
//////      &.offcanvas-end {
//////        @include transition(var(--#{$prefix}offcanvas-transition));
//////        width: var(--#{$prefix}main-horizontal-width);
//////        transition-duration: 0.3s;
//////        transition-property: transform, width, padding, margin;
//////        transition-timing-function: linear;
//////
//////        &.show {
//////          > .offcanvas-body {
//////            > .navbar-nav {
//////              > .nav-item > .nav-link {
//////                display: flex;
//////                justify-content: space-between;
//////                align-items: center;
//////
//////
//////                &.dropdown-toggle {
//////                  &::after {
//////                    transform: rotate(135deg);
//////                    transition: transform .35s ease;
//////                    transform-origin: 0.25em 50%;
//////                  }
//////
//////                  &.show {
//////                    &::after {
//////                      transform: rotate(45deg);
//////                    }
//////                  }
//////                }
//////              }
//////            }
//////          }
//////        }
//////      }
//////    }
//////  }
//////}
