.input-group {
  &.input-group:is(:has(.floating-label)) {
    //align-items: baseline;
    align-items: normal;
  }

  //}
  //.input-group {
  > .floating-label {
    flex: 1;

    > .form-control,
    > .form-select {
      position: relative;
    }

    > .form-control:focus,
    > .form-select:focus {
      > label {
        z-index: 3;
      }
    }

    ///

    &:not(:first-child) {
      > .form-control,
      > .form-select {
        @include border-start-radius(0);
      }

      > label {
        &::before {
          @include border-start-radius(0);
        }
      }
    }

    &:not(:last-child) {
      > .form-control,
      > .form-select {
        @include border-end-radius(0);
      }

      > label {
        &::after {
          @include border-end-radius(0);
        }
      }
    }
  }
}
