// Dropdown caret icon
$caret-align: middle !default;

.dropdown-toggle::after {
  vertical-align: $caret-align;
}

@if $enable-caret {
  // Dropdown arrow
  .dropdown-toggle::after {
    @include caret-down($caret-width);
  }
  // Dropend arrow
  .dropend .dropdown-toggle::after {
    @include caret-right($caret-width);
  }
  // Dropstart arrow
  .dropstart .dropdown-toggle::before {
    @include caret-left($caret-width);
  }
  // Dropup arrow
  .dropup .dropdown-toggle::after {
    @include caret-up($caret-width);
  }

  .dropstart .dropdown-toggle::before,
  .dropend .dropdown-toggle::after {
    vertical-align: $caret-align  ;
  }
}
