@use "@material/ripple";
@use "@material/ripple/mdc-ripple";

.mdc-ripple-surface {
  @include ripple.surface;
  @include ripple.radius-bounded;
  @include ripple.states-base-color($white);
  @include ripple.states-opacities((hover: .12, focus: .18, press: .24));

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  box-sizing: content-box;
  vertical-align: middle;

  &:not(span) {
    @include border-radius(inherit);
  }
}

span {
  &.mdc-ripple-surface {
    position: relative;
    display: inline-flex;
    overflow: hidden;
  }

  > * {
    flex: 1;
  }
}
